* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto'
    font-size: 14px

$main-color: #ec644b

button
    outline: none
    transition: 0.2s box-shadow linear
 
.container
    max-width: 1140px
    margin: 0 auto

.base__line
	width: 148px
	height: 1px
	background-color: $main-color
	margin: 20px auto

.active
    &:first-child
        transform: rotate(45deg)
    &:nth-child(2)
        display: none
    &:last-child
        transform: rotate(-45deg)
        margin-top: -2px   

.active_left
    left: 0

.img-up
    width: 40px
    height: 40px
    position: fixed
    bottom: 50px
    right: 50px
    z-index: 10
    img
        width: 100%

@import "fonts"
@import "header"
@import "main"
@import "work"
@import "agent"
@import "price"
@import "consultation"
@import "manager"
@import "scheme"
@import "recall"
@import "slider"
@import "questions"
@import "footer"
@import "media"